@import "./shared.scss";

.orders-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

@include desktop {
  .orders-container {
    .orders {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}

@include tablet {
  .orders-container {
    .orders {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}

@include sm-tablet {
  .orders-container {
    .orders {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}
@include cellphone {
  .orders-container {
    .orders {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}
