@import "./shared.scss";

.orders-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;

  .orders {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@include desktop {
  .orders-container {
    .orders {
      justify-content: start;
    }
  }
}

@include tablet {
  .orders-container {
    .orders {
      justify-content: start;
    }
  }
}

@include sm-tablet {
  .orders-container {
    .orders {
      justify-content: center;
    }
  }
}
@include cellphone {
  .orders-container {
    .orders {
      justify-content: center;
    }
  }
}
